*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header,footer,.grid{
    max-width: 840px;
    margin: 0 auto;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

nav{
    background-color: steelblue;
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}
h1{
    color: steelblue;
    border-bottom: 1px solid steelblue;
    padding: 20px 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
main img{
    float: right;
}
ul.box{
    clear: right;
}
p{
    padding: 0;
    color: #000;
}
aside{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20rem;
    position: relative;
}
aside img{
    width: 100%;
    height: auto;
}
aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}
.grid{
    display: grid;
    align-items: center;
}
footer{
    margin-top: 15px;
    border: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(224, 224, 224);
    color: #fff;
    border: 1px solid #eee;
}