*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    max-width: 540px;
    margin: 0 auto;
}

nav{
    background-color: steelblue;
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: steelblue;
}
img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
main img{
    float: right;
}
ul.box{
    clear: right;
}
p{
    padding: 0;
}
aside{
    width: 45rem;
    text-align: center;
    position: relative;
}
aside img{
    width: 600px;
    height: auto;
}
aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}
footer{
    margin-top: 15px;
    border: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(146, 11, 11);
    color: #fff;
    border: 1px solid #eee;
}